<button class="btn add-story" (click)="createStory()">Add Story</button>
<div class="story-container">
  <div class="story-lane">
    <h3>Not Started</h3>
    <div class="story-list not-started" cdkDropList #notStartedList="cdkDropList" [cdkDropListData]="notStarted"
      [cdkDropListConnectedTo]="[inProgressList, completedList]" (cdkDropListDropped)="drop($event)">
      <div cdkDrag *ngFor="let story of notStarted" class="story-item">
        <app-story-card [story]="story">
        </app-story-card>
      </div>
    </div>
  </div>
  <div class="story-lane">
    <h3>In Progress</h3>
    <div class="story-list in-progress" cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[notStartedList, completedList]" (cdkDropListDropped)="drop($event)">
      <div cdkDrag *ngFor="let story of inProgress">
        <app-story-card [story]="story">
        </app-story-card>
      </div>

    </div>
  </div>
  <div class="story-lane">
    <h3>Completed</h3>
    <div class="story-list completed" cdkDropList #completedList="cdkDropList" [cdkDropListData]="completed"
      [cdkDropListConnectedTo]="[notStartedList, inProgressList]" (cdkDropListDropped)="drop($event)">
      <div cdkDrag *ngFor="let story of completed">
        <app-story-card [story]="story">
        </app-story-card>

      </div>

    </div>
  </div>
</div>